@media (min-width: 700px) {
    /* header starts */
    header {
        height: 30vh;

        h4 {
            font-size: 18px;
        }

        details {
            display: none;
        }

        > section {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }

        article {
            width: 35%;
        }

        nav {
            width: 65%;
            padding-bottom: 4.9%;
            padding-right: 2%;

            > ul {
                display: flex;
                justify-content: space-evenly;
                width: 100%;

                > li {
                    width: 100%;
                    text-align: center;
                    list-style-type: none;

                    > a {
                        color: white;
                        text-decoration: none;
                        font-size: 20px;
                        font-weight: 300;
                        padding: 10%;
        
                        &:hover {
                            border-bottom: 0.5px solid whitesmoke;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
    /* header ends */
    main {
        > section {
            padding: 1%;
            padding-top: 10%;   
        }
    }
    /* about section starts */

    .title {
        h2 {
            font-size: 34px;
            font-weight: 400;
        }

        p {
            font-size: 20px;
            width: 85%;
        }
    }

   

    .about {
        figure {
            flex-direction: row;
            column-gap: 2vh;

            img {
                width: 15vh;
            }
        }

        ul {
            padding-left: 3%;
        }

        h3 {
            font-size: 26px;
        }

        h5 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
        }
    }
    /* about section ends */

    /* features section starts */
    
    .read {
        i {
            font-size: 72px;
        }

        p {
            font-size: 20px;
        }

        a {
            padding: 0;
        }

        > aside:first-child,
          aside:nth-child(2),
          aside:last-child {
            > a:last-child {
                padding: 2% 5%;
            }
        }
    }

    .history {
        flex-direction: row;
        column-gap: 3vh;

        > aside {
            display: flex;
            align-items: center;
            width: 50%;
        }

        > div {
            width: 50%;
            font-size: 18px;
        }
    }
    /* features section ends */

    /* menu section starts */
    .menu {
        ul {
            flex-wrap: nowrap;
            height: 0;
            column-gap: 2vh;

            > li {
                width: 15%;

                > a {
                    padding: 8%;
                }
            }
        }

        > article:nth-child(3) {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 1.4vh;
            column-gap: 3.2vh;
        }

        figure {
            width: 30%;
            > aside {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 20vh;
                height: 20vh;
            }
            h3 {
                font-size: 18px;
            }
        }

        small {
            font-size: 18px;
        }

        > article:last-child{
            flex-direction: row;
            column-gap: 3vh;

            > figure {
                width: 50%;
            }

            > div {
                width: 40%;
                font-size: 18px;
            }
        }
    }
    /* menu section ends */

    /* contact section starts */
    .contact {
        > article:nth-child(2) {
            display: flex;
            column-gap: 5vh;
        }
        form {
            width: 45%;
            padding-left: 1%;
        }
    }

    .address {
        width: 45%;
        padding-top: 0;

        > ul {
            @include flexBox;
            row-gap: 3vh;
        }
    }

    [value="Send"] {
        height: 3vh;
    }
    /* contact section ends */

    /* faqs section starts */
    .faqs {
        padding: 8%;

        > details {
            color: dimgray;
            font-size: 22px;

            summary {
                display: flex;
                border: 1px solid lightgray;
                padding: 3%;
                justify-content: space-between;
            }
        }

        > details[open] p{
            padding: 3%;
            font-size: 20px;
        }
    }
    /* faqs section ends */

    /* footer starts */
    footer{
        height: 0;
        padding-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }
    /* footer ends */
}